In [2]:
import pandas as pd

Reading data

In [3]:
df = pd.read_csv("heart_attack_prediction_dataset.csv")
df

,Patient ID,Age,Sex,Cholesterol,Blood Pressure,Heart Rate,Diabetes,Family History,Smoking,Obesity,...,Sedentary Hours Per Day,Income,BMI,Triglycerides,Physical Activity Days Per Week,Sleep Hours Per Day,Country,Continent,Hemisphere,Heart Attack Risk
0,BMW7812,67,Male,208,158/88,72,0,0,1,0,...,6.615001,261404,31.251233,286,0,6,Argentina,South America,Southern Hemisphere,0
1,CZE1114,21,Male,389,165/93,98,1,1,1,1,...,4.963459,285768,27.194973,235,1,7,Canada,North America,Northern Hemisphere,0
2,BNI9906,21,Female,324,174/99,72,1,0,0,0,...,9.463426,235282,28.176571,587,4,4,France,Europe,Northern Hemisphere,0
3,JLN3497,84,Male,383,163/100,73,1,1,1,0,...,7.648981,125640,36.464704,378,3,4,Canada,North America,Northern Hemisphere,0
4,GFO8847,66,Male,318,91/88,93,1,1,1,1,...,1.514821,160555,21.809144,231,1,5,Thailand,Asia,Northern Hemisphere,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8758,MSV9918,60,Male,121,94/76,61,1,1,1,0,...,10.806373,235420,19.655895,67,7,7,Thailand,Asia,Northern Hemisphere,0
8759,QSV6764,28,Female,120,157/102,73,1,0,0,1,...,3.833038,217881,23.993866,617,4,9,Canada,North America,Northern Hemisphere,0
8760,XKA5925,47,Male,250,161/75,105,0,1,1,1,...,2.375214,36998,35.406146,527,4,4,Brazil,South America,Southern Hemisphere,1
8761,EPE6801,36,Male,178,119/67,60,1,0,1,0,...,0.029104,209943,27.294020,114,2,8,Brazil,South America,Southern Hemisphere,0
8762,ZWN9666,25,Female,356,138/67,75,1,1,0,0,...,9.005234,247338,32.914151,180,7,4,United Kingdom,Europe,Northern Hemisphere,1

Blood high preassure and blood low preassure columns as model input

In [4]:
high_preassure = []
low_preassure = []
for bp in df['Blood Pressure'].values:
    bp_splited = bp.split('/')
    high_preassure.append(int(bp_splited[0]))
    low_preassure.append(int(bp_splited[1]))

df['Blood_Pressure_high'] = high_preassure
df['Blood_Pressure_low'] = low_preassure

Sex as model input

In [5]:
sex_array = []
for sex in df['Sex']:
    if sex == 'Male':
        sex_array.append(0)
    else:
        sex_array.append(1)

df['sex_binari'] = sex_array

df['Country'].unique()

df

,Patient ID,Age,Sex,Cholesterol,Blood Pressure,Heart Rate,Diabetes,Family History,Smoking,Obesity,...,Triglycerides,Physical Activity Days Per Week,Sleep Hours Per Day,Country,Continent,Hemisphere,Heart Attack Risk,Blood_Pressure_high,Blood_Pressure_low,sex_binari
0,BMW7812,67,Male,208,158/88,72,0,0,1,0,...,286,0,6,Argentina,South America,Southern Hemisphere,0,158,88,0
1,CZE1114,21,Male,389,165/93,98,1,1,1,1,...,235,1,7,Canada,North America,Northern Hemisphere,0,165,93,0
2,BNI9906,21,Female,324,174/99,72,1,0,0,0,...,587,4,4,France,Europe,Northern Hemisphere,0,174,99,1
3,JLN3497,84,Male,383,163/100,73,1,1,1,0,...,378,3,4,Canada,North America,Northern Hemisphere,0,163,100,0
4,GFO8847,66,Male,318,91/88,93,1,1,1,1,...,231,1,5,Thailand,Asia,Northern Hemisphere,0,91,88,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8758,MSV9918,60,Male,121,94/76,61,1,1,1,0,...,67,7,7,Thailand,Asia,Northern Hemisphere,0,94,76,0
8759,QSV6764,28,Female,120,157/102,73,1,0,0,1,...,617,4,9,Canada,North America,Northern Hemisphere,0,157,102,1
8760,XKA5925,47,Male,250,161/75,105,0,1,1,1,...,527,4,4,Brazil,South America,Southern Hemisphere,1,161,75,0
8761,EPE6801,36,Male,178,119/67,60,1,0,1,0,...,114,2,8,Brazil,South America,Southern Hemisphere,0,119,67,0
8762,ZWN9666,25,Female,356,138/67,75,1,1,0,0,...,180,7,4,United Kingdom,Europe,Northern Hemisphere,1,138,67,1

In [6]:
print(df)

     Patient ID  Age     Sex  Cholesterol Blood Pressure  Heart Rate  \
0       BMW7812   67    Male          208         158/88          72
1       CZE1114   21    Male          389         165/93          98
2       BNI9906   21  Female          324         174/99          72
3       JLN3497   84    Male          383        163/100          73
4       GFO8847   66    Male          318          91/88          93
...         ...  ...     ...          ...            ...         ...
8758    MSV9918   60    Male          121          94/76          61
8759    QSV6764   28  Female          120        157/102          73
8760    XKA5925   47    Male          250         161/75         105
8761    EPE6801   36    Male          178         119/67          60
8762    ZWN9666   25  Female          356         138/67          75

      Diabetes  Family History  Smoking  Obesity  ...  Triglycerides  \
0            0               0        1        0  ...            286
1            1               1        1        1  ...            235
2            1               0        0        0  ...            587
3            1               1        1        0  ...            378
4            1               1        1        1  ...            231
...        ...             ...      ...      ...  ...            ...
8758         1               1        1        0  ...             67
8759         1               0        0        1  ...            617
8760         0               1        1        1  ...            527
8761         1               0        1        0  ...            114
8762         1               1        0        0  ...            180

      Physical Activity Days Per Week Sleep Hours Per Day         Country  \
0                                   0                   6       Argentina
1                                   1                   7          Canada
2                                   4                   4          France
3                                   3                   4          Canada
4                                   1                   5        Thailand
...                               ...                 ...             ...
8758                                7                   7        Thailand
8759                                4                   9          Canada
8760                                4                   4          Brazil
8761                                2                   8          Brazil
8762                                7                   4  United Kingdom

          Continent           Hemisphere  Heart Attack Risk  \
0     South America  Southern Hemisphere                  0
1     North America  Northern Hemisphere                  0
2            Europe  Northern Hemisphere                  0
3     North America  Northern Hemisphere                  0
4              Asia  Northern Hemisphere                  0
...             ...                  ...                ...
8758           Asia  Northern Hemisphere                  0
8759  North America  Northern Hemisphere                  0
8760  South America  Southern Hemisphere                  1
8761  South America  Southern Hemisphere                  0
8762         Europe  Northern Hemisphere                  1

      Blood_Pressure_high  Blood_Pressure_low  sex_binari
0                     158                  88           0
1                     165                  93           0
2                     174                  99           1
3                     163                 100           0
4                      91                  88           0
...                   ...                 ...         ...
8758                   94                  76           0
8759                  157                 102           1
8760                  161                  75           0
8761                  119                  67           0
8762                  138                  67           1

[8763 rows x 29 columns]

In [7]:
df['Diet']

0         Average
1       Unhealthy
2         Healthy
3         Average
4       Unhealthy
          ...
8758      Healthy
8759      Healthy
8760      Average
8761    Unhealthy
8762      Healthy
Name: Diet, Length: 8763, dtype: object

In [8]:
diet_column = []
for d in df['Diet'].values:
    if d == 'Healthy':
        diet_column.append(1)
    elif d == 'Unhealthy':
        diet_column.append(-1)
    else:
        diet_column.append(0)

df['diet_int'] = diet_column

In [9]:
df.columns

Index(['Patient ID', 'Age', 'Sex', 'Cholesterol', 'Blood Pressure',
       'Heart Rate', 'Diabetes', 'Family History', 'Smoking', 'Obesity',
       'Alcohol Consumption', 'Exercise Hours Per Week', 'Diet',
       'Previous Heart Problems', 'Medication Use', 'Stress Level',
       'Sedentary Hours Per Day', 'Income', 'BMI', 'Triglycerides',
       'Physical Activity Days Per Week', 'Sleep Hours Per Day', 'Country',
       'Continent', 'Hemisphere', 'Heart Attack Risk', 'Blood_Pressure_high',
       'Blood_Pressure_low', 'sex_binari', 'diet_int'],
      dtype='object')

In [21]:
df_model = df[[ 
    'Age', 
    'sex_binari',
    'Cholesterol',
    'Blood_Pressure_low',
    'Blood_Pressure_high',
    'Heart Rate',
    'Diabetes',
    'Family History',
    'Smoking',
    'Obesity',
    'Alcohol Consumption',
    'Exercise Hours Per Week',
    'diet_int',
    'Previous Heart Problems',
    'Medication Use',
    'Stress Level', 
    'BMI', 
    'Triglycerides',
    'Sleep Hours Per Day',
    'Heart Attack Risk']]

In [51]:
df_model.to_csv('model_input_data.csv')